<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/img/logo-nav.jpg"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="openModalConnect()">Connection</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Inscription</a>
      </li> -->
      <li class="nav-item" *ngIf="currentUser">
        <a class="nav-link" [routerLink]="['/mySpace', currentUser.user.id]"
          >Mon espace</a
        >
      </li>
    </ul>
  </div>
</nav>
