img {
  height: 140px;
  width: auto;
}

.resume {
  height: 150px;
  max-height: 150px;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0;
}
.test {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: visible;
}
